/* css reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* variables */

:root {
	--neutral-50: white;
	--neutral-100: #e2e8f0;
	--neutral-200: #aaaaaa;
	--neutral-500: #636363;
	--neutral-900: black;

	--blue-400: #1992d4;
	--yellow-400: #fbbf24;
}

/* custom styling */

.grid {
	display: grid;
}

.flex {
	display: flex;
}

body {
	background-color: var(--neutral-100);
	font-weight: bold;
	grid-template-columns: 1fr 5fr;
}

.sidebar {
	background-color: var(--blue-400);
	padding: 1rem;
	grid-row: span 2;
	align-content: start;
	gap: 2rem;
}

.sidebar h1 {
	color: var(--neutral-50);
}

.sidebar a {
	text-decoration: none;
	color: var(--neutral-50);
}

.sidebar>div {
	grid-template-columns: 1fr;
	gap: .5rem;
}

header {
	background-color: var(--neutral-50);
	padding: 1rem 4rem 2rem 2rem;
	box-shadow: 0 0 8px var(--neutral-200);
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
}

.search-bar {
	align-items: center;
	gap: 1rem;
}

.search-bar img {
	height: 26px;
}

#search {
	border: none;
	border-radius: 1rem;
	background-color: var(--neutral-100);
	padding-left: 1ch;
	flex-grow: 1;
}

.profile {
	align-items: center;
	justify-content: end;
	gap: 1.5rem;
}

.notifications {
	border: none;
	background: none;
	height: 26px;
}

.welcome {
	align-items: start;
	gap: 1rem;
}

.welcome img {
	height: 48px;
}

.welcome p {
	font-size: .75rem;
}

.welcome h2 {
	font-size: 1.2rem;
}

.buttons {
	align-items: center;
	justify-content: space-between;
	column-gap: 2rem;
	row-gap: .25rem;
	flex-wrap: wrap;
}

.buttons button {
	border: none;
	background-color: var(--blue-400);
	color: var(--neutral-50);
	padding: .5rem 2rem;
	border-radius: 3rem;
	flex-grow: 1;
}

main {
	padding: 1rem;
	padding-top: 2rem;
	grid-template-columns: 4fr 1fr;
}

main h2 {
	font-size: 1.25rem;
}

.projects {
	padding-top: 1rem;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.projects h2 {
	grid-column: span 2;
}

.projects .card {
	background-color: var(--neutral-50);
	border-radius: 1rem;
	padding: 2rem;
	position: relative;
	overflow: hidden;
}

.projects .card::before {
	content: '';
	position: absolute;
	width: .5rem;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--yellow-400);
}

.card p {
	color: var(--neutral-500);
}